.sobre_container {
  width: 100%;
  height: 100vh;
  background: url("../img/img-container-2/background\ \(1\).png");
}

.sobre_title {
  display: flex;
  gap: 0.2em;
  padding-top: 20px;
  font-size: 40px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
  align-items: center;
  justify-content: center;
}

.sobre_title span {
  font-weight: 800;
  color: #3a5880;
}

.line {
  margin-top: 0.5em;
  content: "";
  border: 1px solid #3a5880;
  width: 50vh;
}

.sobre_paragrapher {
  color: white;
  text-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  color: #e3e3e3;
  font-weight: 300;
}

.sobre_div {
  display: flex;
  margin-top: 50px;
}

.sobre_img {
  margin-left: 20em;
  width: 400px;
  height: 400px;
}

.sobre_secondParagrapher {
  color: white;
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
  padding: 30px 400px 0 40px;
}

.sobre_missao {
  display: flex;
  margin-left: 45vh;
  gap: 5px;
  font-size: 24px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
}

.sobre_missao span {
  color: #3a5880;
  font-weight: 800;
}

.div_missao {
  display: flex;
  gap: 100vh;
}

.sobre_button {
  width: 20px;
  height: 20px;
  margin-top: 1em;
  color: white;
  background: #031227;
  border: none;
  cursor: pointer;
  align-items: flex-end;
}

.missao_paragrapher {
  display: flex;
  align-items: center;
  text-align: flex-end;
  margin: 0 320px;
  padding-left: 100px;
  color: white;
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
}

.sobre_visao {
  display: flex;
  margin-left: 45vh;
  gap: 5px;
  font-size: 24px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
}

.sobre_visao span {
  color: #3a5880;
  font-weight: 800;
}

.div_visao {
  display: flex;
  gap: 102.5vh;
}

.visao_paragrapher {
  display: flex;
  align-items: center;
  text-align: flex-end;
  margin: 0 320px;
  padding-left: 100px;
  color: white;
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
}

.hr {
  width: 61vw;
  margin-top: 20px;
  margin-left: 45vh;
  margin-right: 30vh;
  border: 1px solid #3a5880;
}

.confidence {
  display: flex;
  margin-left: 45vh;
  gap: 5px;
  font-size: 24px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
}
